* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

img {
    max-width: 100%;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    z-index: 1000;
}

.top-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 15px 30px;
    margin-top: 0;
}

.label-container label {
    font-size: 14px;
    margin-bottom: 5px;
}

.search-box {
    display: flex;
    align-items: center;
    border: 1px solid #717171;
    border-radius: 4px;
    padding: 6px 12px;
    background-color: #fff;
    width: 500px;
}

.search-icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

#search-input {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 6px 12px;
    flex-grow: 1;
    font-size: 14px;
}

#carrinho {
    width: 25px;
    height: auto;
    margin-right: 5px;
}

#usuario {
    width: 65px;
    height: 60px;
    margin-right: 5px;
}

.login {
    display: flex;
    align-items: center;
    gap: 10px;
}

.entrar,
.cadastrar {
    margin-left: 5px;
    font-size: 14px;
    text-decoration: none;
    color: black;
}

.entrar:hover,
.cadastrar:hover {
    color: #ffa500;
}

.login-icon:hover {
    color: #ffa500;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    background-color: #fff;
}

.navbar ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 70px;
}

.navbar ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 16px;
    padding: 5px 0;
    transition: color 0.3s ease;
}

.navbar ul li a:hover {
    color: #ffa500;
}

/* sessao peixe */

.cat-section {
    padding: 80px 50px; 
    margin-top: 100px;
  
}

.cat-section-h2 {
    text-align: center;
    
}

/* roda pé */


footer {
    background-color: #ede8e8; 
    color: #333;
    padding: 20px 0;
    font-family: Arial, sans-serif;
    border-top: 1px solid #ddd;
    display: grid;
    justify-content: center;
}

.logo {
    width: 100px;
    height: 46px;
    display: flex;
    align-items: center;
}

.footer-top {
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    align-items: center;
    gap: 80px;
}

.redes-sociais {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    gap: 25px 50px;
}

.redes-sociais img {
    max-width: 45px;
}

.menu-footer {
    display: flex;
    flex-wrap: wrap;
}

.menu-footer a {
    color: black;
    text-decoration: none;
    margin: 0 10px;
}

.menu-footer a:hover {
    text-decoration: underline;
    color: #e69500;
}

.contact-button {
    display: inline-block;
    background-color: #ffb400;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 15px 0;
    font-size: 14px;
    border-radius: 4px;
}

.contact-info {
    margin: 15px 0;
    font-size: 14px;
    line-height: 1.6;
}

.contact-info p {
    margin: 5px 0;
}

.footer-bottom {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 50px;
}

.footer-bottom a {
    color: #0d0c22;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem; /* Espaçamento entre os cards */
    padding: 1rem;
    max-width: 60%; /* Limita a largura total da grade em relação à tela */
    margin: 0 auto; /* Centraliza os cards na tela */
  }

  .card {
    background-color: #fcfbfaee;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0.15, 0.15, 0, 0.15);
    text-align: center;
    padding: 2.0rem;
    width: 90%; /* Reduz a largura do card em relação à coluna */
    margin: 0 auto; 
   /* Centraliza cada card na coluna */
  }
  
  .card img {
    max-width: 130px;
    max-height: 130px;
    height: auto;
    border-radius: 4px;
  }
  
  .card h3 {
    margin: 0.5rem 0 0.4rem;
    font-size: 0.9rem; 
    color: #264653;
  }
  
  .card p {
    font-size: 1.0rem; 
    margin: 0.7rem 0;
    color: #605f5d;
  }
  
  .card .add-to-cart {
    background-color: #FBBC05;
    color: rgb(246, 244, 244);
    border: none;
    padding: 0.6rem 0.6rem; /* Botão menor */
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 0.8rem; /* Texto menor no botão */
    margin: 0.7rem
  }
  
  .card .add-to-cart:hover {
    background-color:black;
  }

  /* toast de adicionar produto ao carrinho */

.toast {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 1000;
  }
  
  .toast.show {
    opacity: 1;
    transform: translateY(0);
  }
  
  .toast.hidden {
    opacity: 0;
    transform: translateY(20px);
  }
  
  #toast-added {
    background-color: #4caf50; /* Verde para sucesso */
  }
  
  #toast-exists {
    background-color: #f44336; /* Vermelho para erro */
  }

/* Responsividade */
@media (max-width: 1000px) {
    .navbar ul {
        gap: 30px 70px;
        justify-content: center;
    }

    .header {
        position: relative;
    }

    .image-container img {
        display: none;
    }

    .main-container {
        padding: 50px 10px;
    }

    .text-container {
        display: grid;
        justify-items: start;
        grid-column: 1 / 3;
        gap: 20px;
    }

    .text-container .h1-home {
        font-size: 2.8rem;
        line-height: 3.5rem;
    }

    .plans-section-grid {
        grid-template-columns: 1fr;
        justify-items: center;
        margin-top: 50px;
        gap: 70px;
    }

    .grid {
        grid-template-columns: 1fr;
        margin-top: 40px;
        gap: 60px;
    }

    .form-container {
        padding: 0;
        grid-template-columns: 1fr;
        gap: 100px;
        align-items: stretch;
    }

    .form-container img {
        display: none;
    }

    .mensagem {
        max-width: 200px;
    }

    .footer-top {
        gap: 20px;
        justify-content: center;
    }

    .menu-footer {
        justify-content: center;
        gap: 20px;
    }

    .redes-sociais {
        margin-top: 20px;
    }

    .contact-button {
        margin-top: 20px;
    }

    .contato {
        display: grid;
        justify-content: center;
    }

    .contato button {
        max-width: 200px;
        margin: 40px auto 10px auto;
    }

    .footer-bottom {
        margin-top: 40px;
        justify-content: center;
        gap: 20px;
        text-align: center;
    }
}
