* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol{
  list-style: none;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

img {
  max-width: 100%;
}

.header {
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  z-index: 1000;
}

.top-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 15px 30px;
  margin-top: 0;
}

.label-container label {
  font-size: 14px;
  margin-bottom: 5px;
}

.search-box {
  display: flex;
  align-items: center;
  border: 1px solid #717171;
  border-radius: 4px;
  padding: 6px 12px;
  background-color: #fff;
  width: 500px;
}

.search-icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

#search-input {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 6px 12px;
  flex-grow: 1;
  font-size: 14px;
}

#carrinho {
  width: 25px;
  height: auto;
  margin-right: 5px;
}
#usuario {
  width: 65px;
  height: 60px;
  margin-right: 5px;
}

.login {
  display: flex;
  align-items: center;
  gap: 10px;
}

.entrar,
.cadastrar {
  margin-left: 5px;
  font-size: 14px;
  text-decoration: none;
  color: black;
}
.entrar:hover,
.cadastrar:hover {
  color: #ffa500;
}

.login-icon:hover {
  color: #ffa500;
}
.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
  background-color: #fff;
}
.navbar ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 70px;
}

.navbar ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 16px;
  padding: 5px 0;
  transition: color 0.3s ease;
}

.navbar ul li a:hover {
  color: #ffa500;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-top: 135px;
}

.content-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: space-around;
  align-items: center;
  margin: 0 auto;
  gap: 20px;
}
.text-container {
  flex: 1;
  max-width: 600px;
}

.h1-home {
  font-weight: 400px;
  font-size: 59px;
  line-height: 85px;
  color: #0d0c22;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.highlight {
  color: #ffa500;
  font-weight: bold;
}

.p-home {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 29px;
  color: #323232;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.access-button {
  font-size: 1em;
  color: #fff;
  background-color: #ffa500;
  border: none;
  border-radius: 58px;
  padding: 20px 40px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
}

.access-button:hover {
  background-color: #e69500;
}

.image-container {
  flex: 1;
  max-width: 500px;
}

.image-home {
  width: 100%;
  height: auto;
  max-width: 100%;
  object-fit: contain;
}

.containe-beneficios {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

/* Seção de planos */

.plans-section {
  padding: 80px 50px;
}

.plans-section h2 {
  text-align: center;
}

.plans-section-grid {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
  gap: 150px;
}

.container-plano {
  display: grid;
  gap: 40px;
  padding: 20px 40px;
  max-width: 300px;
  background: #ffb400;
  border-radius: 15px;
}

.container-plano ul {
  list-style-position: inside;
}

.container-plano ul {
  font-weight: bold;
}

.preco {
  font-size: 1.5em;
}

.container-plano li + li {
  margin-top: 25px;
}

.container-plano h3 {
  text-align: center;
}

.plan-button {
  cursor: pointer;
  background: #5e4a30;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #ffb400;
  padding: 20px 40px;
  border-radius: 10px;
  border: none;
}

.plan-button:hover {
  color: #ffffff;
  background: #e69500;
  transition: 0.3s;
}

/* Seção para cachorros */
#para-cachorros {
  margin-top: 2rem;
}

#para-cachorros h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #264653;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem; /* Espaçamento entre os cards */
  padding: 1rem;
  max-width: 60%; /* Limita a largura total da grade em relação à tela */
  margin: 0 auto; /* Centraliza os cards na tela */
}

.card {
  background-color: #fcfbfaee;
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(0.15, 0.15, 0, 0.15);
  text-align: center;
  padding: 2.0rem;
  width: 90%; /* Reduz a largura do card em relação à coluna */
  margin: 0 auto; 
 /* Centraliza cada card na coluna */
}

.card img {
  max-width: 130px;
  max-height: 130px;
  height: auto;
  border-radius: 4px;
}

.card h3 {
  margin: 0.5rem 0 0.4rem;
  font-size: 0.9rem; 
  color: #264653;
}

.card p {
  font-size: 1.0rem; 
  margin: 0.7rem 0;
  color: #605f5d;
}

.card .add-to-cart {
  background-color: #FBBC05;
  color: rgb(246, 244, 244);
  border: none;
  padding: 0.6rem 0.6rem; /* Botão menor */
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 0.8rem; /* Texto menor no botão */
  margin: 0.7rem
}

.card .add-to-cart:hover {
  background-color:black;
}


/* Seção para gatos */


#para-gatos {
  margin-top: 2rem;
}

#para-gatos h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #264653;
}


/* responsividade cards */ 
@media (max-width: 900px) {
  .card-container {
      grid-template-columns: 2fr; 
  }
}

/* Seção lista ordenada */

.beneficios {
  padding: 50px;
}

.beneficios h2 {
  text-align: center;
}

.flex-ordered-list {
  margin-top: 40px;
  justify-content: center;
  display: flex;
}

.list {
  text-align: left;
  line-height: 1.9;
  font-size: 18px;
}

.list li + li {
  margin-top: 20px;
}

/* Seção do formulário */

.form {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr;
  justify-content: center;
  border-radius: 30px;
  background-color: #f9f9f9;
}

.form h2 {
  text-align: center;
}

input {
  background-color: #ffb61d; /* Cor de fundo amarela */
  color: #333; /* Cor do texto */
  border-radius: 10px; /* Bordas arredondadas */
  border: 1px solid #ccc; /* Cor da borda */
  font-size: 16px; /* Tamanho da fonte */
  padding: 10px;
}
.email {
  background-color: #ffb61d; /* Cor de fundo amarela */
  color: #333; /* Cor do texto */
  border-radius: 10px; /* Bordas arredondadas */
  border: 1px solid #ccc; /* Cor da borda */
  font-size: 16px; /* Tamanho da fonte */
  padding: 10px;
}

textarea {
  border-radius: 10px;
  border-bottom: 60px;
  min-width: 300px;
  min-height: 150px;
  max-width: 500px;
  max-height: 250px;
  background-color: #ffb61d;
  padding: 10px;
}

.form-container {
  padding: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  align-items: stretch;
}
.form-img {
  max-width: 400px;
}

.button-submit {
  color: white;
  justify-self: center;
  padding: 10px 40px;
  border-radius: 20px;
  border-style: none;
  background-color: #ffb61d;
  transition: background-color 0.3s;
  cursor: pointer;
}

.button-submit:hover {
  background-color: #e69500;
}

/* Seção do rodapé */
footer {
  background-color: #ede8e8; /* Fundo claro */
  color: #333;
  padding: 20px 0;
  font-family: Arial, sans-serif;
  border-top: 1px solid #ddd;
  display: grid;
  justify-content: center;
}

.logo {
  width: 100px;
  height: 46px;
  display: flex;
  align-items: center;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-self: center;
  align-items: center;
  gap: 80px;
}

.redes-sociais {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0px;
  gap: 25px 50px;
}

.redes-sociais img {
  max-width: 45px;
}

.menu-footer {
  display: flex;
  flex-wrap: wrap;

  
}.titulo-clicavel {
  text-decoration: none; 

}


.menu-footer a {
  color: black;
  text-decoration: none;
  margin: 0 10px;
}

.menu-footer a:hover {
  text-decoration: underline;
  color: #e69500;
}

.contact-button {
  display: inline-block;
  background-color: #ffb400;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 15px 0;

  font-size: 14px;
  border-radius: 4px;
}

.contact-info {
  margin: 15px 0;
  font-size: 14px;
  line-height: 1.6;
}

.contact-info p {
  margin: 5px 0;
}

.footer-bottom {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 50px;
}

.footer-bottom a {
  color: #0d0c22;
}

/* Responsividade */

@media (max-width: 1000px) {
  .navbar ul {
    gap: 30px 70px;
    justify-content: center;
  }
  .header {
    position: relative;
  }

  .image-container img {
    display: none;
  }

  .main-container {
    padding: 50px 10px;
  }

  .text-container {
    display: grid;
    justify-items: start;
    grid-column: 1/3;
    gap: 20px;
  }

  .text-container .h1-home {
    font-size: 2.8rem;
    line-height: 3.5rem;
  }

  .plans-section-grid {
    grid-template-columns: 1fr;
    justify-items: center;
    margin-top: 50px;
    gap: 70px;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-top: 40px;
    gap: 60px;
  }

  .form-container {
    padding: 0px;
    grid-template-columns: 1fr;
    gap: 100px;
    align-items: stretch;
  }

  .form-container img {
    display: none;
  }

  .mensagem {
    max-width: 200px;
  }

  .footer-top {
    gap: 20px;
    justify-content: center;
  }

  .menu-footer {
    justify-content: center;
    gap: 20px;
  }

  .redes-sociais {
    margin-top: 20px;
  }

  .contact-button {
    margin-top: 20px;
  }

  .contato {
    display: grid;
    justify-content: center;
  }

  .contato button {
    max-width: 200px;
    margin: 40px auto 10px auto;
  }

  .footer-bottom {
    margin-top: 40px;
    justify-content: center;
    gap: 20px;
    text-align: center;
  }
}

/* toast de adicionar produto ao carrinho */

.toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 1000;
}

.toast.show {
  opacity: 1;
  transform: translateY(0);
}

.toast.hidden {
  opacity: 0;
  transform: translateY(20px);
}

#toast-added {
  background-color: #4caf50; /* Verde para sucesso */
}

#toast-logoff {
  background-color: #4caf50; /* Verde para sucesso */
}

#toast-exists {
  background-color: #f44336; /* Vermelho para erro */
}

.email-usuario{
  position: relative;
}

.dropdown-menu{
  display: none;
  padding: 10px 60px;
  z-index: 1;
  border: 2px solid #333;
  background: #ffb61d;
  position: absolute;
  top: 50px;
  right: 200px;
}

.visible-menu{
  transition: 0.3s;
  display: block;
  animation: show-up 0.3s forwards;
}

@keyframes show-up{
  from{
    opacity: 0;
    transform: translate3d(0, 30px, 0)
  }
  to{
    opacity: 1;
    transform: translate3d(0,0,0)
  }
}

.dropdown-menu li+li{
  margin-top: 10px;
}

.dropdown-menu li:hover{
  color: white;
  cursor: pointer;
}


/* main */
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.imagem {
  display: flex;
  align-items: center;
  gap: 20px; /* Espaço entre a imagem e as informações */
  background: #f5f5f5; /* Cor de fundo para destacar */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.img-produto {
  max-width: 400px;
  height: auto;
  border-radius: 8px;
}

.informações {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nome-produto {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.preco-produto {
  font-size: 20px;
  color: #ff6600;
  font-weight: bold;
}

.codigo-produto {
  font-size: 16px;
  color: #666;
}

.add-to-cart {
  background-color: #FBBC05;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s ease;
}

.add-to-cart:hover {
  background-color: #e68a00;
}
